
body {
  font-family: 'Roboto', sans-serif !important;
}

.about {
  background-image: url("./headphones-2626179_1920.jpg");
  height: 110vh;
  text-align: center;
  color: #FAFAFA;
}

div.ui.center.aligned.two.column.grid.about-content div.ui.container {
  color: #FAFAFA;
}

#playlist-creation {
  color: #FAFAFA;
}

div.ui.list.about-list {
  font-size: 16px;
}

div.ui.list.about-list div p{
  margin-left: 10px;
  display: inline-block;
}

svg {
  position: relative;
}

.welcome {
  background-image: url("./headphones-2557583_1920.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #000000;
  height: 100vh;
}

.welcome-header {
  margin-top: 225px;
  color: #FAFAFA;
}

.loader {
  background-image: url("./people-2562222_1920.jpg");
  height: 100vh;
}

.loader .sk-cube-grid {
  width: 257px;
  height: 257px;
  margin-top: 500px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  opacity: 0.9;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  border-radius: 0px;
  margin-bottom: 0px;
}

.ui.middle.aligned.image {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

div.column {
  text-align: center;
  margin-bottom: 18px;
  color: #FAFAFA;
}

.header {
  text-align: center;
  margin-top: 40px;
  color: #212121;
}

.ui.message {
  width: 95%;
}

label {
  margin-left: 30px;
}

button.ui.button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.big-chart {
  margin-top: 0px;
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-right: 100px;
}

.tracks {
  background-color: #212121;
  text-align: center;
  margin-top: 50px;
}

.playlist {
  background-image: url("./headphones-2626179_1920.jpg");
  background-repeat: repeat-y;
  min-height: 100vh;
  text-align: center;
  color: #FAFAFA;
}

.playlist-2 {
  background-color: #FAFAFA;
  text-align: center;
}

.empty-playlist {
  background-color: #FAFAFA;
  text-align: center;
  height: 100vh;
}

.form {
  text-align: center;
}

.home {
  text-align: center;
  vertical-align: middle;
  font-size: 600%;
  margin-top: 10%;
  margin-left: 2%;
  color: #FAFAFA;
}

#submit-button {
  margin-bottom: 40px;
}

.scale {
  transition: all .2s ease-in-out;
  cursor: pointer;
  position: relative;

}
.scale:hover {
  transform: scale(1.1);
  z-index: 5;
}

div.four.column.row {
  margin-top: 20px;
}

.ui.grid>[class*="four column"].row>.column {
  margin-top: 10px;
}

.slide-1 {
  background-color: #F5F5F5;
  height: 100vh;
  text-align: center;
}

div h2.header {
  margin-top: 12px;
}

.playlist-header {
  padding-top: 15px;
}

.top-tracks-header {
  padding-top: 15px;
  color: #FAFAFA;
}

.recent-tracks-header {
  padding-top: 15px;
  color: #FAFAFA;
}

.button.ui.button.tracks-button {
  margin: 0 auto;
  margin-top: 0px;
}

.button.ui.button.nav-popup {
  float: right;
}

.playlist .ui.centered.grid .four.column.row div.column {
  text-align: center;
}

iframe {
  margin: 10px;
}

@media (max-width: 1198px) {
  .welcome {
    background-image: url("./headphones-2557583_1920.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    height: 100vh;
  }
}

@media (max-width: 1000px) {
  .welcome {
    background-image: url("./headphones-2557583_1920.jpg");
    background-size: 135%;
    background-repeat: no-repeat;
    height: 100vh;
  }
}

@media (max-width: 888px) {
  .welcome {
    background-image: url("./headphones-2557583_1920.jpg");
    background-size: 155%;
    background-repeat: no-repeat;
    height: 100vh;
  }
}

@media (max-width: 724px) {
  .welcome {
    background-image: url("./headphones-2557583_1920.jpg");
    background-size: 185%;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
