/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {

}

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.welcome {
  background-image: url("./headphones-2557583_1920.jpg");
  height: 100vh;
}

.welcome-header {
  margin-top: 250px;
  color: white;
}

.welcome-image {
  max-width: 40%;
  max-height: 40%;
  align-content: center;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  border-radius: 0px;
}
