body {
  font-family: 'Roboto', sans-serif !important;

}

.welcome {
  background-image: url("./headphones-2557583_1920.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #000000;
  height: 100vh;
}

.welcome-header {
  margin-top: 225px;
  color: #FAFAFA;
}

.welcome-image {
  max-width: 40%;
  max-height: 40%;
  align-content: center;
}

.loader {
  background-image: url("./people-2562222_1920.jpg");
  height: 100vh;
}

.loader .sk-cube-grid {
  width: 257px;
  height: 257px;
  margin-top: 500px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  opacity: 0.9;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  border-radius: 0px;
  margin-bottom: 0px;
}

.ui.middle.aligned.image {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

div.column {
  text-align: center;
  margin-bottom: 18px;
  color: #FAFAFA;
}

div.ui.grid {
  margin-top: 0px;
}

.header {
  text-align: center;
  margin-top: 40px;
  color: #212121;
}

.ui.message {
  width: 95%;
}

label {
  margin-left: 30px;
}

button.ui.button {
  margin-top: 20px;
  margin-bottom: 20px;
}

a.viewport-slider-button {
  display: none;
}

.big-chart {
  margin-top: 0px;
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-right: 100px;
}

.tracks {
  background-color: #212121;
  margin-top: 105px;
}

div.viewport-slider-paginator {
  border: 12px solid #E0E0E0;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 10px black;
  border-radius: 4px;
  background: #E0E0E0;
}

a.viewport-slider-paginator-bullet {
  border: .1px solid #E0E0E0;
  background-color: #9E9E9E;
  margin: 7px 0;
}

#form {
  margin-top: 125px;
  width: 100%;
}

a.viewport-slider-button.test {
  display: block;
}

.playlist {
  margin-top: 242.5%;
  background-image: url("./headphones-2626179_1920.jpg");
  background-repeat: repeat-y;
}

.home {
  text-align: center;
  vertical-align: middle;
  font-size: 600%;
  margin-top: 10%;
  margin-left: 2%;
  color: #FAFAFA;
}

#submit-button {
  margin-bottom: 40px;
}

.scale {
  transition: all .2s ease-in-out;
  cursor: pointer;
  position: relative;

}
.scale:hover {
  transform: scale(1.1);
  z-index: 5;
}

div.four.column.row {
  margin-top: 20px;
  margin-left: 120px;
}

.ui.grid>[class*="four column"].row>.column {
  margin-top: 10px;
}

.pointer {
  color: #212121;
  padding-bottom: 2px;
  margin-left: 670px;
  height: 100px;
}

#arrow {
  height: 30px;
  width: 30px;
  margin-left: 690px;
}

#playlist-grid {
  margin-left: -70px;
  margin-right: 40px;
}

.slide-1 {
  background-color: #F5F5F5;
}

div.viewport-slider {
  background-color: #F5F5F5;
}

.playlist-header {
  margin-left: 46.6%;
  padding-top: 15px;
}

.top-tracks-header {
  margin-left: 46%;
  padding-top: 15px;
  color: #FAFAFA;
}

.recent-tracks-header {
  margin-left: 41%;
  padding-top: 15px;
  color: #FAFAFA;
}

.button.ui.button.tracks-button {
  margin-left: 43.7%;
  margin-top: 0px;
}

.button.ui.button.nav-popup {
  float: right;
}

@media only screen and (max-width: 1430px) {
  .playlist {
    margin-top: 246.5%;
  }
}

@media only screen and (max-width: 1417px) {
  .playlist {
    margin-top: 248.5%;
  }
}

@media only screen and (max-width: 1403px) {
  .playlist {
    margin-top: 250.5%;
  }
}

@media only screen and (max-width: 1397px) {
  .playlist {
    margin-top: 252%;
  }
}

@media only screen and (max-width: 1385px) {
  .playlist {
    margin-top: 254.5%;
  }
}

@media only screen and (max-width: 1266px) {
  .playlist {
    margin-top: 377.5%;
  }
}
